* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.add-button {
    padding: .25rem 1rem;
    font-size: 18px;
}

.book-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    height: 15vw;
    padding: 20px;
}